<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
    <div class="text-center">
        <h1 class="display-4">Oops, something went wrong!</h1>
        <p class="lead">An error occurred while processing your request.</p>
    </div>
</div>
</body>
</html>
